<!-- <form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value={{hello}}>
    </mat-form-field>
  </div>
  <div>
    {{hari}}
  </div>
<br/>
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Ex. shean">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Adress</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br/>
  <h2>Style, class and event  Binding</h2>
  <mat-radio-group aria-label="Select an option">
     <mat-radio-button style="padding-right: 10px;color: blue;" value="1">Delhi </mat-radio-button>
     <mat-radio-button class="female-sex" value="2">Hyderabad</mat-radio-button>
    <mat-radio-button [class]="classExpr" value="2" (change)="radioChange($event)" >Chennai</mat-radio-button>
    <h2>style Binding</h2>
    <h2>multi style Binding</h2>
    <mat-radio-button [style]="styleExpr" value="2" (change)="vijayawadaChange($event)" >Vijayawada</mat-radio-button>
    <h2>single style Binding</h2>
    <mat-radio-button [style.font-size]="font" value="2" (change)="radioChange($event)">Mumbai</mat-radio-button>
  </mat-radio-group>
  <br/>
  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <button mat-raised-button color="primary"  (click)="display()">Primary</button>
  <h1>Property Binding Examples</h1>
  <img [src]="itemImageUrl">
  <img bind-src="itemImageUrl">
  <div>
    {{hari}}
  </div>
  <button [disabled]= true mat-raised-button color="primary"  (click)="display()">Primary</button>
  <h2>Property binding and interpolation</h2>
  <p><img src="{{itemImageUrl}}"> is the <i>interpolated</i> image.</p>
  <p><img [src]="itemImageUrl"> is the <i>property bound</i> image.</p>
  <h2>Attribute Directives</h2>
 <h2>single styling</h2>
<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
  This div is x-large or smaller.
</div>
  <h2>multi styling</h2>
<mat-radio-button [style]="styleExpr" value="2" (change)="vijayawadaChange($event)" >Vijayawada</mat-radio-button>
<h3>ng Style</h3>
<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>
<h3>ng Class</h3>
<div [ngClass]="currentClasses">This div should be {{ canSave ? "": "not"}} saveable</div>
    <label for="saveable">saveable</label>
    <mat-checkbox  [(ngModel)]="canSave">Checked</mat-checkbox>
    <h3>Ng Model</h3>
<div>This div should be {{ canSave ? "": "not"}} saveable</div>
<p>
  <input [(ngModel)]="hello">
</p>
<div>{{hello}}</div>

  <h2>Structural Directives</h2>
  <h3>If condition</h3>
  <img *ngIf="imageDisplay" [src]="itemImageUrl">
  <h3>For loop</h3>
  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
 -->
<!-- <h2>{{hello}}</h2>
<p>
  <input [(ngModel)]="hello">
</p>
<h3>ng Class and ng Model</h3>
<div [ngClass]="currentClasses">hello world.</div>
    <label for="saveable">hair checkbox</label>
    <mat-checkbox  [(ngModel)]="canSave"  (change)="setCurrentClasses($event)" ></mat-checkbox>
    <h3>Ng Model</h3>
<div>This div should be {{ canSave ? "": "not"}} saveable</div> -->
<!-- <p>parent page starts</p> -->
<!-- <img *ngIf="imageDisplay" [src]="itemImageUrl"> -->
<!-- <p>parent component</p>
<p>passed value form parent component {{title}}</p>
<p>
  <input [(ngModel)]="title">
</p>
<app-item-componet   [item]="title"></app-item-componet> -->
<!-- <app-employee-componet></app-employee-componet> -->
<p>parent component start here</p>
<p>Print the latest items</p>
<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>
<p>total no of item:{{items.length}}</p>
<app-item-componet (newItemEvent)="addItem($event)"></app-item-componet>


