// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

// .example-full-width {
//   width: 100%;
// }

// td {
//   padding-right: 8px;
// }

.female-sex{
  padding-right: 10px;
  color: red;
  font-size: x-large;
}
.second-female-sex{
  background: bisque;
  block-size: 35px;
}

.position-movement{
  float: right;
}

.female-sex2{
  padding-right: 10px;
  color:green;
  font-size: x-large;
}

.dummy-style{
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color:red;
}

.saveable {
	color: red;
}

.modified {
  font-style: italic;
  font-size: xxx-large;
}
