<form [formGroup]="userForm" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Enter FirstName</mat-label>
    <input matInput placeholder="Willam" formControlName="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="'password'">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" [type]="'password'">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveUser()">Save</button>
  <button mat-raised-button color="primary" style="float: right;" (click)="resetForm()">Reset</button>
  <p>{{this.displayObject|json}}</p>
</form>
