<form [formGroup]="userForm" class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Company Name</mat-label>
    <input matInput  formControlName="company">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Enter FirstName</mat-label>
    <input matInput placeholder="Willam" formControlName="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="'password'">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" [type]="'password'">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Enter Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <div formGroupName="address">
    <h3>Address</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Enter Street Name:</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Enter LandMark</mat-label>
      <input matInput formControlName="landMark">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Enter City Name</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>

  </div>
  <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="saveUser()">Save</button>
  <button mat-raised-button color="primary" style="float: right;" (click)="resetForm()">Reset</button>
  <p>{{this.displayObject|json}}</p>
</form>
